<form action="/rnode/<%= host %>/<%= port %>/" method="post" target="_blank">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-eye"></i> Connect to Tensorboard
  </button>
</form>
